<%- include('partials/header.ejs')  -%> 

<div class="container">
    <div class="row">
        <div class="cloumn-lg-4">
            <div class="card">
                <img src="<%= data[1].img %> " alt="">
                <div class="card-body">
                    <h5 class="card-title"><%= data[1].name %> </h5>
                    <p class="card-text"><%= data[1].author %> </p>
                </div> 
            </div>
        </div>
        <div class="cloumn-lg-4"></div>
        <div class="cloumn-lg-4"></div>
    </div>
</div>


<%- include('partials/footer.ejs')  -%> 